/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width: 320px) {
  .header__menu {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .menu {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 1px 0 rgba($text-gray, 0.25), 0 15px 30px 0 rgba(#342ead, 0.1);
    display: flex;
    flex-grow: 1;
    margin: 0;
    overflow: hidden;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
    cursor: pointer;
    &:focus,
    &:hover {
      outline: none;
      .material-icons {
        color: $colorprimaryblue;
      }

      .menu-item-label {
        font-family: $PPINSL;
        color: $colorprimaryblue;
      }
    }
  }

  .material-icons {
    font-family: $PPINSB;
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
    color: mix($backgroundcolor, $text-gray, 60%);
    transition: 0.25s ease;
  }

  .menu-item-label {
    display: block;
    font-family: $PPINSL;
    font-size: 13px;
    color: mix(#fff, #342ead, 70%);
    transition: 0.25s ease;
  }

  .menu__responsive {
    position: fixed;
    width: 70vw;
    height: 100vh;
    box-shadow: 0 0 10px $colorgray;
    margin: -50px 0 0 -50px;
    padding: 20px;
    padding-top: 125px;
    background-color: $backgroundcolor;
    -webkit-font-smoothing: antialiased;
  }
  .menu__responsive--right > li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  .menu__active {
    display: none;
  }

  .menu__in--view {
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu__out--view {
    transform-origin: 0% 0%;
    transform: translate(calc($MAX-WIDTH - 60vw), 0);
    transition: transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu__responsive--li a {
    text-decoration: none;
    color: $neutraldark;
    opacity: 1;
    font-family: $PPINS;
    font-size: 1.5em;
    transition: 200ms;
  }

  .menu__responsive--li a:hover {
    opacity: 0.5;
  }

  .menu__responsive--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .menu__responsive--left > img {
    max-width: 100%;
    width: 50px;
    height: 50px;
  }

  .menu__responsive--logo {
    text-decoration: none;
    color: $neutraldark;
    opacity: 1;
    font-size: 1.2rem;
    font-family: $PPINSB;
  }

  .discounted__products {
    padding: 10px 7px;
  }

  .discounted__products-image {
    background: linear-gradient(180deg, #000000 -73.06%, rgba(0, 0, 0, 0) 100%), url('/src/assets/image/promotion-Image.png');
    border-radius: 5px;
    height: 20vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .discounted__products-text {
    display: flex;
    padding: 15% 5%;
    justify-content: start;
    align-items: start;
    color: white;
  }

  .discounted__products-title {
    padding: 5% 0;
    font-family: $PPINSB;
    font-size: 1.2rem;
  }

  .products__list {
    display: flex;
    flex-direction: column;
    padding: inherit;
  }

  .products__list-card {
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-shadow: 0 0 10px $colorgray;
    border-radius: 5px;
    background-color: #f6f7f8;
  }

  .products__card-title {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: baseline;
    .card__title {
      max-width: 80%;

      h3 {
        font-size: 1rem;
        font-family: $PPINS;
      }
    }

    .card__price {
      h5 {
        font-size: 1rem;
        font-family: $PPINS;
        color: $colorprimaryblue;
        letter-spacing: 0.5px;
      }
    }
  }

  .products__list-image {
    padding: 1%;

    img {
      border-radius: 5px;
    }

    .products__list-discounted {
      display: flex;

      .discounted-price {
        text-decoration-line: line-through;
        font-size: 0.9rem;
        font-family: $PPINS;
        color: $text-gray;
        padding-right: 10px;
        margin: 0;
      }

      .discounted-discount {
        font-size: 0.9rem;
        font-family: $PPINS;
        color: $colorsecundary;
        margin: 0;
      }
    }
  }
}

/* smartphones, Android phones, landscape iPhone */
@media (min-width: 480px) {
  .menu__active {
    display: none;
  }

  .menu__out--view {
    transform-origin: 0% 0%;
    transform: translate(calc($MAX-WIDTH - 61vw), 0);
    transition: transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu__responsive--li a {
    text-decoration: none;
    color: $neutraldark;
    opacity: 1;
    font-family: $PPINS;
    font-size: 1.5em;
    transition: 200ms;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
  .material-icons {
    font-family: $PPINSB;
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
    color: mix($backgroundcolor, $text-gray, 60%);
    transition: 0.25s ease;
  }

  .menu-item-label {
    display: block;
    font-size: 13px;
    font-family: $PPINSL;
    color: mix(#fff, #342ead, 70%);
    transition: 0.25s ease;
  }

  .menu__out--view {
    transform-origin: 0% 0%;
    transform: translate(calc($MAX-WIDTH - 62vw), 0);
    transition: transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu__responsive--li a {
    text-decoration: none;
    color: $neutraldark;
    opacity: 1;
    font-family: $PPINS;
    font-size: 1.5em;
    transition: 200ms;
  }

  .menu__responsive--logo {
    text-decoration: none;
    color: $neutraldark;
    opacity: 1;
    font-size: 1.2rem;
    font-family: $PPINSB;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 801px) {
  .material-icons {
    font-family: $PPINSB;
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
    color: mix($backgroundcolor, $text-gray, 60%);
    transition: 0.25s ease;
  }

  .menu-item-label {
    display: block;
    font-size: 13px;
    font-family: $PPINSL;
    color: mix(#fff, #342ead, 70%);
    transition: 0.25s ease;
  }

  .menu__out--view {
    transform-origin: 0% 0%;
    transform: translate(calc($MAX-WIDTH - 64vw), 0);
    transition: transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu__responsive--li a {
    text-decoration: none;
    color: $neutraldark;
    opacity: 1;
    font-family: $PPINS;
    font-size: 1.5em;
    transition: 200ms;
  }

  .menu__responsive--logo {
    text-decoration: none;
    color: $neutraldark;
    opacity: 1;
    font-size: 1.2rem;
    font-family: $PPINSB;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
  .header__menu {
    display: none;
  }

  .menu__responsive {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: 10vh;
    box-shadow: 0 0 10px $colorgray;
    background-color: $backgroundcolor;
    -webkit-font-smoothing: antialiased;

    transition: 1s;
  }

  .menu__responsive--right {
    display: flex;
    margin: 0;
  }

  .menu__responsive--right > li {
    margin: 0;
    padding: 0 20px;
    transition-delay: 0s;
    padding-left: 20px;
  }

  .menu__active {
    display: none;
  }

  .menu__in--view {
    transform: initial;
  }

  .menu__out--view {
    transform: initial;
  }

  .menu__responsive--li a {
    text-decoration: none;
    color: $neutraldark;
    opacity: 1;
    font-family: $PPINS;
    font-size: 1.2em;
    transition: 200ms;
  }

  .menu__responsive--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .menu__responsive--left > img {
    max-width: 100%;
    width: 55px;
    height: 55px;
    padding: 0 1.5px;
  }

  .menu__responsive--logo {
    text-decoration: none;
    color: $neutraldark;
    opacity: 1;
    font-size: 1rem;
    font-family: $PPINSB;
  }
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
  .menu__responsive {
    justify-content: space-between;
    padding: 0 5%;
  }
}
